<!DOCTYPE html>
<html>
	<head>
		<title>Описание</title>
		<link rel="short icon" href="{{ path_to_icon }}" type="image/x-icon">
	</head>
	<body>
		<br />
		<br />
		<a id="back" href="/">Назад</a>
		<br />
		<h1><center>Описание</center></h1>
		<h3>Наш проект - это VK-бот, котороый может отсканировать любой ваш докумен, после чего отправить его вам в ввиде сообщения. 
		<br />
			А уже после отправки сообщения нашим ботом, вы можете либо копировать его, либо переслать кому-либо, и вообще сделать все, что вам придет в голову.
		<br />
		<br />
		<br />
		Преимущества нашего бота:
		<ul>
			<li>это бесплатно</li>
			<li>вам не нужно скачивать отдельное приложение для этого</li>
			<li>после сканирования весь текст присылается присылается обычным печатным текстом, а не файлом</li>
		</ul>
		<br />
		Ссылка на бота:
		<a href="https://vk.com">Перейти</a>
		</h3>
		<img src="{{ path_to_img_1 }}" height=300px width=530px/>
		<style>
		
body{
	background:#191919 url({{ path_to_bg }});
	background-repeat: no-repeat;
	color: #B9B5FF;
}
h3{
	padding:30px;
}
#back{
	margin-right:10px;
	background-color: #414141;
	color: #B9B5FF;
	padding: 16px;
	font-size: 16px;
	border: none;
	text-decoration: none;
}
		</style>
	
	</body>
	
</html>